button{
    
    width: 60px;
    height: 50px;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;

}
#min_div{
    
    
    width:350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
input {
    width: 211px;
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  #min_div div{
    margin-top: 7px;
  }
  button:hover{
    background-color: aqua;
  }
  button:active{
    background-color: orchid;
  }